
body, html{
  font-size: 25px;
  font-family: "Arial", "Helvetica", "Verdana", sans-serif;
  margin: 0px;
  padding: 0px;
}
/* flexbox layout*/
.fc {
  display: flex;
  flex-flow: row wrap;
}
.fc > * {
  flex: 1;
}
.fc > main {
  flex: 2;
}
.fc header,
.fc footer {
  flex: 0 1 100vw;
}
/* flex-container >= viewport*/
.fc { min-height: 100vh; }

.fc > * { min-width: 200px; }

.fc > * {
  padding: 0px;
}

main section > *,  main header > *, aside > *{
  padding-left: 30px;
  padding-right: 30px;
}
/*header flexbox  */

.hfc {
  display: flex;
  flex-flow: row wrap;
}
.hfc > * {
  flex: 1;
}
.hfc > main {
  flex: 2;
}
/*headers */
header#frame{
  padding-top: 1em;
  padding-bottom: 1em;
}
#job_experience h3{
  margin-top: 0.5rem;
  padding-top: 0px;
}
h1{
  font-size: 1.7rem;
  font-weight: bold;
  margin: 10px 0px;
  text-shadow: 3px 3px 5px;
}
h2{
  color: #727271;
  margin-top: 0px;
  font-size: 1.3rem;
}
header#frame{
  background-color: #fff;
}
#frame aside{
  text-align: center;
}
p.info{
  font-size: 0.7rem;
  margin: 2%;
}
#first_name{
  color: #7690C9;
}


/*main  */
#experience{
  /*float: right;
  width: 70%;
  padding: 10px;*/
}
.job > span{
  display: inline-flex;
}
.course > span{
  display: inline-flex;
}
.job, .course{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;

  font-weight: bold;
  margin-top: 2rem;
}
.date, .company, .institution{
  font-size: 0.6rem;
  color: #727271;
}
.job_description, .course_description, .citations{
  font-size: 0.8rem;
}
.citations{
  line-height: 1.7em;
  padding-left: 60px;
  padding-right: 60px;
}

main h3{
  padding: 0px;
  color: #fff;
  text-shadow: 2px 2px 3px black;
  font-size: 1rem;
}
main h3 span{
  background-color: #7690C9;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/*images */
img.clogo{
  width: 2em;
}
img#photo{
  width: 50%;
  background-color: #fff;
}
/*left bar */
#skills{
  background-color: #7690C9;
  color: #fff;
  /*float: left;
  width: 28%;
  height: 100%;*/
}
#contact{
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 1rem;
}
#contact p img{
  vertical-align: middle;
}
.slidecontainer h3, #contact h3{
  font-size: 1rem;
  text-shadow: 2px 2px 3px black;
}
/*Slider */
.slidecontainer {
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #56698F;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #56698F;
  cursor: pointer;
}

/* thumb*/

footer{

}
footer a{
  background-color: #7690C9;
  margin: 0px;
  padding: 8px 16px;
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: white;
  font-size: 0.8rem;


}
/*footer flexbox  */
.ffc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.ffc > * {
  flex: 1;
  padding: 10px;
  margin: 2%;
  background-color: #7690C9;
  text-align: center;
}

nav a:hover:not(.active) {
  background-color: #56698F;
}

@media screen and (max-width: 1024px) {
  section#contact{
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 800px) {
  section#contact{
    font-size: 0.6rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .ffc {
    flex-direction: column;
  }
}
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .fc {
    flex-direction: column;
  }
  section#contact{
    font-size: 1rem;
    padding-left: 30px;
    padding-right: 30px;
  }
}
